<ion-view title="Location Details" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list"></form>
        <div id="locationDetails-markdown1" style="color:#000000;">
            <p>Address</p>
        </div>
        <div id="locationDetails-markdown2" style="color:#000000;">
            <p>{{ checkin.address }}</p>
        </div>
        <div id="locationDetails-markdown3" style="color:#000000;">
            <p>Description</p>
        </div>
        <div id="locationDetails-markdown4" style="color:#000000;">
            <p>{{ checkin.descriptions }}</p>
        </div>
    </ion-content>
</ion-view>